.DS_STORE
hound-express-app/node_modules
hound-express-app/scripts/flow/*/.flowconfig
hound-express-app/.flowconfig
hound-express-app/*~
hound-express-app/*.pyc
hound-express-app/.grunt
hound-express-app/_SpecRunner.html
hound-express-app/__benchmarks__
hound-express-app/build/
hound-express-app/remote-repo/
hound-express-app/coverage/
hound-express-app/.module-cache
hound-express-app/fixtures/dom/public/react-dom.js
hound-express-app/fixtures/dom/public/react.js
hound-express-app/test/the-files-to-test.generated.js
hound-express-app/*.log*
hound-express-app/chrome-user-data
hound-express-app/*.sublime-project
hound-express-app/*.sublime-workspace
hound-express-app/.idea
hound-express-app/*.iml
hound-express-app/.vscode
hound-express-app/*.swp
hound-express-app/*.swo

hound-express-app/packages/react-devtools-core/dist
hound-express-app/packages/react-devtools-extensions/chrome/build
hound-express-app/packages/react-devtools-extensions/chrome/*.crx
hound-express-app/packages/react-devtools-extensions/chrome/*.pem
hound-express-app/packages/react-devtools-extensions/firefox/build
hound-express-app/packages/react-devtools-extensions/firefox/*.xpi
hound-express-app/packages/react-devtools-extensions/firefox/*.pem
hound-express-app/packages/react-devtools-extensions/shared/build
hound-express-app/packages/react-devtools-extensions/.tempUserDataDir
hound-express-app/packages/react-devtools-fusebox/dist
hound-express-app/packages/react-devtools-inline/dist
hound-express-app/packages/react-devtools-shell/dist
hound-express-app/packages/react-devtools-timeline/dist