.main-content {
    max-width: 1200px;
    margin: 2rem auto;
    padding: 0 2rem;
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;

    @include respond-to('medium') {
        padding: 0;
      }
    
      @include respond-to('xxsmall') {
        padding: 0 1rem;
        grid-template-columns: 1fr;
        gap: 1.5rem;
      }    
}